<img src="/assets/img/burger.png" alt="burger" id="burgericon">

<h1>Eat-Da-Burger!</h1>

{{!-- if devoured is false --}}
{{#each burgers}}

<p>
    {{#if devoured}}
    {{id}}. {{burger_name}}

    <button data-burgerid="{{id}}" class="devburger">Devour It!</button>
    {{/if}}

</p>

{{/each}}

{{!-- else devoured is true --}}
{{#each burgers}}

<p>
    {{#unless devoured}}
    {{id}}. {{burger_name}}

    
    {{/unless}}

</p>

{{/each}}




<form id="createburger" class="button-size">
    <textarea type="text" id="textbox" name="burg"></textarea>
    <button type="submit" id="submitbtn">Submit!</button>
</form>
<h4>Enter a burger you want to eat. Click the "Submit" button.</h4>